---
import Logo from "./Logo.astro";
import MainNav from "./MainNav.astro";
import AuthButtons from "@/components/vue/common/AuthButtons.vue";
import { useFirebase } from "@/composables/useFirebase";

const { user, isAuthenticated, logout } = await useFirebase();
---

<header class="bg-white shadow-sm">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
        <Logo />
        <div class="flex items-center gap-6">
            <MainNav />
            <AuthButtons
                isAuthenticated={isAuthenticated}
                user={user}
                logout={logout}
            />
        </div>
    </div>
</header>
