---
// components/astro/common/MainNav.astro
---

<ul class="flex items-center gap-6">
    <li>
        <a href="/pricing" class="text-gray-600 hover:text-primary-600"
            >Pricing</a
        >
    </li>
    <li>
        <a href="/templates" class="text-gray-600 hover:text-primary-600"
            >Templates</a
        >
    </li>
</ul>
