---
// src/pages/forgot-password.astro
import MainLayout from "@/layouts/MainLayout.astro";
import ForgotPasswordCard from "@/components/vue/auth/ForgotPasswordCard.vue";
---

<MainLayout title="Forgot Password | ResumeAI">
    <div
        class="min-h-[calc(100vh-300px)] flex items-center justify-center py-12 px-4"
    >
        <ForgotPasswordCard client:load />
    </div>
</MainLayout>
