---
import MainLayout from "@/layouts/MainLayout.astro";
import LoginCard from "@/components/vue/auth/LoginCard.vue";
---

<MainLayout title="Log In | ResumeAI">
  <div
    class="min-h-[calc(100vh-300px)] flex items-center justify-center py-12 px-4"
  >
    <LoginCard client:load />
  </div>
</MainLayout>
